
body {background-color:#ffecc7;}

#top {border-style:none;
Border-right-style: none;
Border-top-style: dotted;
Border-bottom-style: none;
border-color: #30475e;
border-width: 45px;
width:99%;}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #30475e;
  border-width: 45px;
  width:30%;
}
h1
{
  color: #222831;text-transform: uppercase;}
h2 {background-color: #ececec; color: #222831; text-decoration: underline;}
h3 {color: #222831;}
